#interviewForm {
  display: flex;
  width: 100%;
  max-width: 700px;
  height: 200px;
  flex-direction: column;
  margin-bottom: 200px;
  /* background-color: orange; */
}

:root {
  --max-width: 1200px;
  --primary-color: #FFF0F0; /* Define the variable */
  --secondary-color: #6C6C6C;
  --main-text-color: #a88869;
  --lighter-color: #FCE0F8;
}