.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
}

.main > img {
  width: 100%;
  max-width: var(--max-width);
}

.main > h1 {
  font-size: 50px;
  font-weight: bold;
  max-width: 800px;
  text-align: center;
  padding: 50px;
}

.main > .info {
  display: flex;
  width: 100%;
  max-width: 1160px;
  /* height: 200px; */
  margin: 20px;
  background-color: #F6F6F6;
  border-radius: 5px;
  border-left: 8px solid #C0AEAE;
}

.main > .info > p {
  text-indent: 1in;
  padding: 40px;
  line-height: 1.8;
}

.main > .info > p > i {
  text-decoration: underline;
}

.main > .concept,
.main > .benefits {
  display: flex;
  width: 100%;
  max-width: 1160px;
  flex-direction: column;
  /* height: 200px; */
  margin: 20px;
  /* background-color: #C0AEAE; */
}

.main > .concept > strong,
.main > .benefits > strong {
  font-weight: bold;
  padding: 20px 40px;
}

.main > .concept > ol,
main > .benefits > ol {
  padding: 20px 60px;
}

.main > .concept > ol > li,
.main > .benefits > ol > li {
  margin-bottom: 20px;
  line-height: 1.8;
}

.main > .concept > ol > li strong,
.main > .benefits > ol > li strong {
  font-size: 600;
}